.icon svg {
	fill: var(--color-primary-text);
}

.icon-fts-files {
	background-image: url('/apps/files_fulltextsearch/img/files.svg');
}

#tu-dashboard {
	overflow-y: scroll;
}

#main-content-container {
	background-color: var(--color-main-background);
	min-height: 500px;
}
.files_header {
	height: 50px;
	border-bottom: solid 1px #efefef;
	position: relative;
}

.files_header_div {
	position: absolute;
	margin-left: 20px;
	color: #999;
	top: 50%;
	transform: translateY(-50%);
}

.files_result {
	height: 50px;
	position: relative;
	border-bottom: solid 1px #efefef;
}

.files_result_div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.files_div_checkbox {
	left: 0px;
	width: 50px;
}

.files_div_thumb {
	left: 50px;
	width: 32px;
	height: 32px;
	background-size: 32px;
	margin-left: 5px;
}

.files_div_name {
	left: 100px;
}

.files_result_title {
	color: #000;
}

.files_result_extract {
	font-size: 11px;
	color: #999;
	margin-top: -5px;
	margin-bottom: -5px;
	margin-left: 5px;
}

#info {
	color: #a5a5a5;
	font-size: 9px;
	margin-top: -3px;
}

.files_div_more {
	width: 50px;
	right: 280px;
}

.files_div_more SPAN {
	padding: 16px 23px 16px 23px;
	height: 16px;
	width: 16px;
	opacity: 0.4;
}

.files_div_size {
	right: 160px;
	width: 100px
}

.files_div_modified {
	right: 10px;
	width: 150px;
}

.files_result_item {
	color: #484848;
	background: #fff;
	padding: 5px;
}

.files_force_action_menu {
	right: 287px;
	top: 53px;
}


#fts-icon {
	background-size: 16px 16px;
	padding: 14px;
	cursor: pointer;
}

div.icon-fulltextsearch-white {
	background-image: url('../img/fulltextsearch.svg');
}

div.icon-fulltextsearch {
	background-image: url('../img/fulltextsearch_black.svg');
}

#fts-error {
	color: #f00;
	text-align: center;
	margin: 20px;
}

#fts-popup {
	width: 340px;
	right: 42px;
	max-width: 85%;
	max-height: 500px !important;
}

#fts-popup::after {
	right: 78px;
}

#fts-header {
	width: 100%;
}

#fts-header div {
	left: 0;
	right: 0;
	top: 0;
	margin: 7px;
}

#fts-input {
	width: 100%;
}

input.options_small {
	width: 60px;
}

.fts_options_input {
	margin-right: 10px !important;
	opacity: 0.65;
}

.fts_options_input_small {
	width: 70px;
}

/**

 */

.provider_result {
	width: 100vw;
}

.provider_navigation_right {
	position: absolute;
	right: 0;
	top: 0;
	height: 15px;
	margin: auto 25px auto 0;
	bottom: 0;
}

.provider_navigation_close {
	margin: 3px 20px 3px 3px;
	opacity: 0.6;
}

.provider_navigation_prev, .provider_navigation_curr, .provider_navigation_next, .provider_navigation_close {
	float: left;
}

.provider_navigation_curr {
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 6px;
	margin: -3px 0 0 11px;
}

.provider_navigation_prev, .provider_navigation_next, .provider_navigation_close, .provider_navigation_page {
	cursor: pointer;
}

.provider_navigation_page {
	font-size: 11px;
	white-space: nowrap;
	margin: -3px 16px -3px 16px;
}

.result_entry_default {
	height: 55px;
	width: 100%;
	border-bottom: solid 1px #d1d1d1;
}

.result_entry_left {
	float: left;
	position: relative;
	top: 45%;
	margin-left: 16px;
	transform: perspective(1px) translateY(-50%);
}

.result_entry_right {
	float: right;
	margin-right: 10px;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.result_entry_default #title {
	font-weight: bold;
	height: 14px;
}

.result_entry_default #line1, .result_entry_default #line2 {
	color: #717171;
	font-size: 11px;
	height: 12px;
}

.result_entry_default #score {
	/*font-weight: bold;*/
}

/*.result_entry_default #info {*/
/*font-weight: bold;*/
/*}*/

.next_search_div {
	position: relative;
	width: 286px;
	height: 36px;
	margin-right: 20px;
}

.provider_navigation {
	position: relative;
	font-size: 13px;
	color: #898989;
	padding-top: 13px;
	padding-left: 20px;
	padding-bottom: 13px;
	border-bottom: solid 1px #eaeaea;
}

.icon-page-prev {
	background-image: url('../img/page-prev.svg');
	background-position: left;
	padding-left: 18px;
}

.icon-page-next {
	background-image: url('../img/page-next.svg');
	background-position: right;
	padding-right: 18px;
}

.icon-page-next, .icon-page-prev {
	background-repeat: no-repeat;
	height: 16px;
	font-size: 11px;
}

.result_entry {
	height: 50px;
	position: relative;
	border-bottom: solid 1px #efefef;
}

.result_title {
	color: #000;
}

.result_extract {
	font-size: 11px;
	color: #999;
	margin-top: -5px;
	margin-bottom: -5px;
	margin-left: 5px;
}

.result_div_checkbox {
	left: 0px;
	width: 50px;
}

.result_div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.result_div_checkbox {
	left: 0px;
	width: 50px;
}

.result_div_content {
	left: 50px;
}

.result_div_right {
	right: 20px;
	color: #9a9a9a;
}

.icon-more-fulltextsearch {
	position: absolute;
	right: 40px;
	top: 10px;
	cursor: pointer;
}

#next_search_input {
	background: #fffc;
	width: 212px;
	height: 30px;
	margin: 2px !important;
}

.div-table {
	display: table;
	width: auto;
	border-spacing: 5px;
}

.div-table-row {
	display: table-row;
	width: auto;
	clear: both;
}

.div-table-col {
	float: left;
	display: table-column;
}

.div-table-col-left {
	width: 170px;
	margin-top: 0;
	color: #707070;
	margin-right: 15px;
	text-align: right;
}

.search-term-container {
	position: relative;

}

.search-term-container input {
	border-radius: 0;
	font-size: 18px !important;
	background-color: var(--color-main-background);
}
.search-term-container div {
	border-radius: 0;
	background-color: var(--color-main-background);
}


.search-term-container .vs__dropdown-toggle input.vs__search::placeholder {
	font-size: 15px !important;
	color: var(--color-text-maxcontrast) !important;
	background-color: var(--color-main-background) !important;
}
.search-term-container .vs__dropdown-toggle input.vs__search {
	margin: 0 !important;
}




.icon-container {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}
.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

.hero-image {
	height: 400px;
	max-height: 400px;
	width: 100vw;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcomeText {
	color: white;
	font-size: 2rem;
	padding-bottom: 15px;
	line-height: 2.3rem;
}

#term {
	/* max-width: 600px; */
	width: 100%;
	font-size: 18px!important;
    margin: 5px;
    padding: 8px 10px 9px;
    outline: none;
    border: none;
}
.filestable {
	position: relative;
	width: 100%;
	min-width: 250px;
	table-layout: auto; /* Changed from fixed to auto */
	--thumbail-size: 140px;
	--thumbail-margin: 6px;
}

/* Thumbnail column - let it size based on content */
.filestable .column-thumbnail {
	width: auto;
	min-width: calc(var(--thumbail-size) + 2 * var(--thumbail-margin));
}

/* Name column - allow it to expand and wrap */
.filestable .column-name {
	width: auto;
	min-width: 200px; /* Minimum readable width */
}

.thumbnail-wrapper {
	width: auto; /* Changed from calc() to auto */
	min-width: calc(var(--thumbail-size) + 2 * var(--thumbail-margin));
	max-width: none; /* Remove max-width constraint */
	height: calc(var(--thumbail-size) + 2 * var(--thumbail-margin));
	display: inline-block;
}

.thumbnail-wrapper .thumbnail {
	display: inline-block;
	width: auto; /* Changed from var(--thumbail-size) to auto */
	height: var(--thumbail-size);
	background-size: contain;
	margin: var(--thumbail-margin);
	border-radius: var(--border-radius);
	cursor: pointer;
	position: relative; /* Changed from absolute */
	z-index: 4;
	max-width: 300px;
}

.thumbnail-wrapper .thumbnail img {
	height: 100%;
	width: auto; /* Maintain aspect ratio */
	max-height: var(--thumbail-size);
	display: block;
	margin: auto;
}


.filestable tbody tr {
	transition: background-color 0.3s ease;
  height: 51px;
}

.fileList .favorite-mark.permanent {
	opacity: 1;
}

table th .columntitle.name {
	padding-left: 5px;
	margin-left: 50px;
}


.filestable td.filename a.name {
	display: flex;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: auto; /* Changed from calc() to auto */
	min-height: calc(var(--thumbail-size) + 2 * var(--thumbail-margin));
	line-height: 1.4; /* Better line height for wrapped text */
	padding: var(--thumbail-margin) 0;
	align-items: center;
}

.filestable td.filename a.name  span.nametext {
	padding: 0;
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	text-wrap: wrap;
}

.filestable .innernametext {
	display: block;
	line-height: 1.4;
}

/* Ensure table cells align properly */
.filestable tbody tr {
	transition: background-color 0.3s ease;
	height: auto; /* Changed from fixed 51px */
	min-height: calc(var(--thumbail-size) + 2 * var(--thumbail-margin));
}

.filestable td {
	vertical-align: middle;
	padding: var(--thumbail-margin);

}


td.modified .nametext,
td.size .nametext{
	padding: 0;
}

.filestable td.col-thumbnail {
	width: 1%; /* This will make it as narrow as possible while fitting content */
	white-space: nowrap;
	overflow: hidden;
}

.filestable td.filename {
	width: auto;
	min-width: 150px;
	max-width: 0; /* Forces wrapping in fixed table layout */
}

/* Size and modified columns */
.filestable td.size,
.filestable td.modified {
	white-space: nowrap;
	width: auto;
	vertical-align: middle;
}

table th .columntitle.name {
	padding-left: 5px;
	margin-left: 0; /* Reduced from 50px since thumbnail column is now separate */
}

table th .columntitle {
	display: block;
	padding: 15px;
	height: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
}

table th, table th a {
	color: var(--color-text-maxcontrast);
}

.summary {
	opacity: 0.3;
	height: 250px;
}
.summary td {
	border-bottom: none;
	vertical-align: top;
	padding-top: 20px;
}
.summary .info {
	margin-left: 35px;
}

.summary:hover, .summary:focus, .summary, table tr.summary td {
	background-color: transparent;
}

table th, table td {
	border-bottom: 1px solid var(--color-border);
	text-align: left;
	font-weight: normal;
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
	background: #dfe5fb;
	border: none;
	color: #394066;
	text-transform: lowercase;
	font-variant: small-caps;
	background-color: white;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
	fill: #394066;
}
button.vs__deselect {
	background-color: gray;
}

#search-arrow {
	background-color: transparent;
	background-image: url("../img/arrow.svg");
}

span.system-tag {
	padding: 5px 10px;
	border: 1px solid;
	margin-right: 5px;
	display: inline-block;
	border-radius: var(--border-radius-pill);
	border-color: var(--color-border);
	color: var(--color-text-maxcontrast);
	height: var(--min-size);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 20px;
	text-align: center;
}
 .grid-overlay {
	 z-index: 5;
 }
